.blogpage{
    padding:1rem;
    text-align:justify;
    margin-bottom:2rem;
    .blog-heading{
        font-size: 1.4rem;
    }
    
    .creds{
        font-family: 'Raleway', sans-serif;
        font-size: 0.7rem;
        width: 100%;
        font-weight: 500;
        margin-bottom: .5rem;
    }
    .blog-content{
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        @media screen and (max-width:768px) {
            overflow:wrap;
            overflow-wrap: anywhere;
        }
    }
    .blog-images{
        max-width:70%;
        height: auto;
        margin:auto;
        margin-top:2rem;
        box-sizing: border-box;
        overflow: hidden;
        img{
            max-width: 100%;
            height: auto;
            padding:.3rem;
            opacity: 0.9;
            &:hover{
                box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
                opacity: 1;
            }
        }
    }
}