.blogpage{
    .blog-comment-section{
        .comments{
            h5{
                margin-bottom:0;
                font-size:1rem;
            }
            p{
                font-family: 'Raleway', sans-serif;
                margin-top:0.2rem;
            }
        }
    }
}