.button-container{
        font-family: 'Metal Mania',cursive;
        .button{
            border:none;
            margin-top: 2rem;
            background-color: #4285f4; 
            color:white;
            cursor: pointer;
            height:1.5rem;
        &:hover{
            background-color: #357ae8;
            border: none;
            }
        }
    }
    .comment-button{
        position:absolute;
        top:6rem;
        right:6%;
        transform:translate(+50%,-50%);
        .button{
            height:2rem;
            margin-top:0;
        }
    }
    .blog-button{
        .button{
            box-shadow: .5px .5px 1px red;
            padding:.5rem .6rem;
            font-size: 1.2rem;
            text-align: center;
            margin:auto;
            height:unset;
            margin-left:50%;
            transform: translateX(-50%);
        }
    }
